body {
	font-family: 'Helvetica Neue', sans-serif;
	background-color: #f2f2f2;
	color: #333;
	margin: 0;
	padding: 0;
}
		
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: auto;
	max-height: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #171716;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: auto;
	max-height: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
}

.sitename {
	margin: 0 250px;
	color: #fff;
	font-size:22px;
}

.navigation {
  padding-right: 250px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

.navigation li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url(images/hover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navigation li a:hover::after {
  opacity: 1;
}

.navigation li a.active::after {
  opacity: 1;
}

p.introtekst {
	text-align: center;
}
	
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
		

ul.services {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px, 5px, 0px, 0px;
}
ul.services li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px, 5px, 0px, 0px;
}
section {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

section p {
	line-height: 1.5;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

textarea {
  resize: none;
}

button[type="submit"] {
  background-color: #2c3e50;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1abc9c;
}

@media (max-width: 767px) {
	nav ul {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	
	nav ul li {
		margin: 10px 0;
	}

}