/* Her laver jeg en @font-face som specificere en custom font 
jeg selv vælger hvad skal hedde og hvor man kan finde den */
@font-face  {
  font-family:'colakind'; /* her kalder jeg den colakind
  jeg kunne sagtens kalde den pepsikind, det ligemeget */
  src: url(fonts/ColaKind.ttf); /* Her bruger jeg src til at fortælle hvor font filen ligger, 
  ligesom når vi linker til et billede, der fortæller vi også hvor billedet er med src */
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	background-color: #f2f2f2;
	color: #333;
	margin: 0;
	padding: 0;
}
		
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: auto;
	max-height: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #171716;
}

.hovedtekst {
	width: 100%;
	height: 500px;
	border-style: solid;
	border-radius: 5px;
	border-color: #171716;
}
.sitename {
	color: #fff;
	font-size:22px;
  font-family: colakind; /* Her fortæller jeg hvad font jeg vil bruge,
  i dette tilfælde vil jeg bruge fonten vi definerede i toppen af .css filen */
}

.navigation.headmenu {
  padding-right: 250px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

.navigation li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url(images/hover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.navigation li a:hover::after {
  opacity: 1;
}

.navigation li a.active::after {
  opacity: 1;
}

p.introtekst {
	text-align: center;
}
	
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
		

ul.services {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px, 5px, 0px, 0px;
}
ul.services li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px, 5px, 0px, 0px;
}


section {
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
}

section h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

section p {
	line-height: 1.5;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

#animation {
  width: 140px;
  height: 175px;
  background-repeat: no-repeat;
  background-image: url(/images/ab.png);
  animation-name: play-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes play-animation {
  from { background-position: 0px 0px; }
  to { background-position: -1152px 0px; }
}